{% extends 'extrasences/base.html' %}
{% load custom_tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<h1>Результаты!</h1>
<hr>
<h3> Ваши числа: {{ gamer|get_item:"numbers" }}!</h3>
<hr>
{% for key, element in extra.items %}
<h3>Экстрасенс {{ element|get_item:"name" }}!<br>
Его предположения: {{ element|get_item:"numbers" }}<br>
Уровень доверия экстрасенсу: {{ element|get_item:"level" }}%</h3>
<hr>
{% endfor %}
<h2>Желаете продолжить? Загадывайте число!</h2><br>
<a class="btn btn-danger btn-lg" href="\step_1" role="button">Загадал!</a>
{% endblock %}